<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Instagram</title>
</head>

<body>

    <main>

        <section>

            <div class="flexmain">

                <div>

                    <img class="phoneimage" src="./images/PhoneScreen.png">

                </div>

                <div class="login">

                    <div>
                        <a href=""> <img class="logologin" src="./images/Instagram_logo.svg"> </a>
                    </div>


                    <form action="">
                        <label for="user">Telefone, nome de usuário ou email</label>
                        <input type="text" id="user">
                        <label for="pass">Senha</label>
                        <input type="password" id="pass">

                    </form>


                </div>

            </div>

        </section>

    </main>

    <footer>
        <div class="footerflex">
            <div class="footerdiv">
                <a href="">Meta</a>
                <a href="">Sobre</a>
                <a href="">Blog</a>
                <a href="">Carreiras</a>
                <a href="">Ajuda</a>
                <a href="">API</a>
                <a href="">Privacidade</a>
                <a href="">Termos</a>
                <a href="">Principais contas</a>
                <a href="">Localizações</a>
                <a href="">Instagram Lite</a>
                <a href="">Threads</a>
                <a href="">Carregamento de contatos e não usuários</a>
                <a href="">Meta Verified</a>
            </div>
            <div class="footerdiv">
                <a href="">Português (Brasil)</a>
                <a href="">© 2023 Instagram from Meta</a>
            </div>
        </div>
    </footer>

</body>

</html>